@use '@angular/material' as mat;
@include mat.core();

$wbbc-palette : (50 : #e7eaf0,
  100 : #c2cbda,
  200 : #99a9c1,
  300 : #7087a8,
  400 : #526d95,
  500 : #335382,
  600 : #2e4c7a,
  700 : #27426f,
  800 : #203965,
  900 : #142952,
  A100 : #8db0ff,
  A200 : #5a8cff,
  A400 : #2769ff,
  A700 : #0e57ff,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  ));


$primary: mat.define-palette($wbbc-palette, 500);
$accent: mat.define-palette($wbbc-palette);
$warn: mat.define-palette(mat.$red-palette);

$theme: mat.define-light-theme($primary, $accent, $warn);

@include mat.all-component-themes($theme);

.app-dark {
  $dark-primary: mat.define-palette($wbbc-palette, 500);
  $dark-accent: mat.define-palette($wbbc-palette);
  $dark-warn: mat.define-palette(mat.$yellow-palette);

  $dark-theme: mat.define-dark-theme($dark-primary, $dark-accent, $dark-warn);

  @include mat.all-component-themes($dark-theme);
}

.color-primary {
  color: mat.get-color-from-palette($primary);
}

.color-accent {
  color: mat.get-color-from-palette($accent);
}

.bg-color-primary {
  background: mat.get-color-from-palette($primary);
}

.bg-color-accent {
  background: mat.get-color-from-palette($accent);
}