<div class="view-usage">
  <mat-card class="controls">
    <button mat-flat-button color="primary" (click)="exportCSV()">
      Export to CSV
    </button>
    <mat-paginator
      [length]="usageService.batch_size * (usageService.pageIndex + 2)"
      [pageSize]="usageService.batch_size"
      [pageSizeOptions]="pageSizeOptions"
      [pageIndex]="usageService.pageIndex"
      (page)="getUsages($event)"
      style="margin-left: auto"
    ></mat-paginator>
  </mat-card>
  <usage-card
    *ngFor="
      let u of usageService.currentSelectedUsages | async;
      let i = index;
      trackBy: trackByIdx
    "
    [usage]="u"
  ></usage-card>
  <mat-card class="controls">
    <button mat-flat-button color="primary" (click)="exportCSV()">
      Export to CSV
    </button>
    <mat-paginator
      [length]="usageService.batch_size * (usageService.pageIndex + 2)"
      [pageSize]="usageService.batch_size"
      [pageSizeOptions]="pageSizeOptions"
      [pageIndex]="usageService.pageIndex"
      (page)="getUsages($event)"
      style="margin-left: auto"
    ></mat-paginator>
  </mat-card>
</div>
