.chart-card {
  flex-basis: 70%;
  height: 100%;
}

.summary-card {
  flex-basis: 30%;
  height: 100%;
}

@media (width <=956px) {
  .chart-card,
  .summary-card {
    flex-basis: 98;
  }
}
