<mat-expansion-panel class="flex-1 usage-card">
  <mat-expansion-panel-header class="usage-summary">
    <mat-panel-title class="usage-title">
      <mat-list>
        <mat-list-item>
          <img
            matListAvatar
            src="assets/images/boat_{{ usage.boatID }}.png"
            onerror="if (this.src !== 'assets/icons/noImage.png') this.src = 'assets/icons/noImage.png';"
            alt="{{ getBoatName(usage.boatID) }}"
          />
          <h3 matLine>{{ getBoatName(usage.boatID) }}</h3>
        </mat-list-item>
      </mat-list>
    </mat-panel-title>
    <mat-panel-description class="usage-description flex-row">
      <!-- Driver Name Block -->
      <mat-list>
        <mat-list-item>
          <span>{{ usage.driver }}</span>
        </mat-list-item>
      </mat-list>

      <!--Date Time Block -->
      <mat-list>
        <mat-list-item>
          <span mat-line>{{ usage.endTime.toDate() | date }}</span>
          <span mat-line>{{ shortDuration(usage.duration) }} hours</span>
        </mat-list-item>
      </mat-list>
    </mat-panel-description>
  </mat-expansion-panel-header>

  <div class="expanded-content">
    <!--Other Crew List -->
    <div class="crew-section" *ngIf="usage.otherCrew.length > 1">
      <h3>Crew:</h3>
      <mat-list>
        <mat-list-item *ngFor="let person of usage.otherCrew">
          {{ person.name }}
        </mat-list-item>
      </mat-list>
    </div>

    <!-- Weather Conditions -->
    <div class="conditions-section flex-1">
      <h3>Conditions:</h3>
      <mat-list>
        <mat-list-item>
          <span class="sub-heading">Wind Strength:</span>
          {{ getWindSpeed(usage.windSpeed) }}
        </mat-list-item>
        <mat-list-item>
          <span class="sub-heading">Wind Direction:</span>
          {{ getWindDirection(usage.windDirection) }}
        </mat-list-item>
        <mat-list-item>
          <span class="sub-heading">Sea State:</span>
          {{ getSeaState(usage.waterState) }}
        </mat-list-item>
      </mat-list>
    </div>
  </div>

  <mat-action-row *ngIf="canDelete" align="end">
    <button mat-flat-button color="warn" (click)="openRemovalModal()">
      Remove entry
    </button>
  </mat-action-row>
</mat-expansion-panel>
